@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Space+Grotesk:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.input:focus {
    outline-style: none;
    border-bottom-color: #4ee1a0;
}

.textarea:focus {
    outline-style: none;
    border-bottom-color: #4ee1a0;
}
